<div id="dvledgerIncomeExpenditureRpt" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:75%!important;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="inexp">Income Expenditure</h4>
                <h4 class="modal-title" id="cinexp">Common Income Expenditure</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default panel-primary2">
                            <div class="panel-heading"></div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-container">
                                            <table id="tblExpenditureDetails" class="table table-striped table-bordered table-hover main-table">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>Expenditure</th>
                                                        <th className="align-right">Amount</th>
                                                        <th className="align-right">Income</th>
                                                        <th className="align-right">Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th colspan="2">
                                                            Total
                                                        </th>
                                                        <th>
                                                            <span id="spnincomeTotalDebit"></span>
                                                        </th>
                                                        <th></th>
                                                        <th>
                                                            <span id="spnincomeTotalCredit"></span>
                                                        </th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
