
@{
    ViewBag.Title = "Common Income Expenditure";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"> Common Income Expenditure</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default panel-primary2">
            <div class="panel-heading">Common Income Expenditure</div>
            <div class="panel-body">
                <div class="table-container1">
                    <div class="row table-top">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label> Common Income Expenditure:</label>
                                @*<select id="ddlInstitute" class="form-control"></select>*@
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>
                                    Starting Date:
                                </label>
                                    <div class="input-group date" id="dtStaringDate">
                                        <input id="txtStaringDate" type="text" class="form-control">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-th"></i>
                                        </span>
                                    </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>
                                    Ending Date:
                                </label>
                                    <div class="input-group date" id="dtEndingDate">
                                        <input id="txtEndingDate" type="text" class="form-control">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-th"></i>
                                        </span>
                                    </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" id="btnView" class="btn btn-primary btn-column">View</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default panel-primary2">
            <div class="panel-heading">
                Common Income Expenditure
            </div>
            <div class="panel-body">
                <div class="table-container">
                    <table id="IncomeExpenditureSheet" class="table table-striped table-bordered table-hover main-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Expenditure</th>
                                <th className="align-right">Amount</th>
                                <th className="align-right">Income</th>
                                <th className="align-right">Amount</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/CustomScripts/CommonIncomeExpenditureDetails.js"></script>

 @Html.Partial("_ledgerIncomeExpendituteReport")
@Html.Partial("_ledgerSummaryReport")
@Html.Partial("_TransactionDetails")